.sync {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

  .main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    .content {
      display: flex;

      .tableActions {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }
}
