.petMessages {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}
.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}
.actions {
  display: flex;
  margin-bottom: 16px;
}
.content {
  display: flex;
  min-width: 0;
}
.content :global(.ant-table-wrapper) {
  width: 100%;
}
