.generalWarn {
  display: flex;
  flex-direction: column;
  border: 1px solid #edeff2;
  border-radius: 5px;
  width: 50%;
  height: 270px;
  margin-left: 10px;

  .header {
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid #edeff2;
    font-size: 18px;
    font-weight: bold;
    flex-shrink: 0;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
