.notifications {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

  .main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    .actions {
      display: flex;
      margin-bottom: 16px;
    }

    .content {
      display: flex;
      min-width: 0;

      :global(.ant-table-wrapper) {
        width: 100%;
      }
    }
  }

  .messagePreview {
    max-width: 360px;
    white-space: pre-wrap;
    word-break: break-word;
    color: rgba(0, 0, 0, 0.65);
  }
}
