.aiReportAutoGeneration {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main {
    display: flex;
    height: 100%;

    .left {
      height: 100%;
      width: 60%;

      .pdfConclusion {
        width: 595px;
        //height: 2526px;
        height: 1684px;
        position: absolute;
        z-index: -1;
        padding: 20px 30px;
        top: -1684px;

        .main {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          .content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex: 1;

            .physician {
              height: 822px;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              padding-bottom: 20px;

              .physicianContent {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                flex: 1;

                .physicianHeaderInfo {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin-bottom: 28px;

                  .logoImage {
                    width: 120px;
                    height: 24px;
                  }

                  .time {
                    font-size: 12px;
                    color: #707070;
                  }
                }

                .physicianValueInfo {
                  .title {
                    padding-left: 9px;
                    display: flex;
                    align-items: center;
                    height: 26px;
                    background: #197be6;
                    color: #fff;
                    margin-bottom: 16px;
                  }

                  .value {
                    font-size: 14px;
                    color: #424242;
                    margin-bottom: 16px;
                  }

                  .line {
                    height: 1px;
                    width: 100%;
                    background: #ccc;
                    margin-bottom: 16px;
                  }

                  .remark {
                    //font-size: 10px;
                    font-size: 10px;
                    color: #707070;

                    p {
                      font-size: 10px;
                      color: #a5a5a5;
                    }

                    div {
                      font-size: 10px;
                      color: #a5a5a5;
                    }

                    span {
                      font-size: 10px;
                      color: #a5a5a5;
                    }
                  }
                }
              }

              .physicianFooter {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .signature {
                  display: flex;
                  justify-content: flex-end;
                  margin-bottom: 100px;

                  .signatureTitle {
                  }
                }

                .address {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  color: #9a9a9a;
                  justify-content: center;
                  align-items: center;

                  .zhAddress {
                    font-size: 10px;
                    margin-bottom: 10px;
                  }

                  .enAddress {
                    font-size: 10px;
                  }
                }
              }
            }

            .knowledgeInterpretation {
              height: 842px;
              padding-top: 20px;
              padding-bottom: 20px;
            }

            .commonProblem {
              height: 842px;
              padding-top: 20px;
              padding-bottom: 20px;
            }

            .knowledgeInterpretation,
            .commonProblem {
              .headerInfo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 28px;

                .logoImage {
                  width: 120px;
                  height: 24px;
                }

                .time {
                  font-size: 12px;
                  color: #707070;
                }
              }

              .titleInfo {
                .title {
                  padding-left: 9px;
                  display: flex;
                  align-items: center;
                  height: 26px;
                  background: #197be6;
                  color: #fff;
                  margin-bottom: 16px;
                }

                .line {
                  height: 1px;
                  width: 100%;
                  background: #ccc;
                  margin-bottom: 16px;
                }
              }

              .contentInfo {
                .value {
                  font-size: 14px;
                  color: #000;
                  margin-bottom: 16px;
                }

                .remark {
                  font-size: 10px;
                  color: #707070;

                  .remarkContent {
                    .item {
                      margin-top: 8px;
                      margin-bottom: 8px;

                      .itemTitle {
                        font-size: 10px;
                        margin-bottom: 8px;

                        strong {
                          font-size: 10px;
                        }
                      }

                      .itemValue {
                        font-size: 8px;
                        padding-left: 16px;

                        strong {
                          font-size: 8px;
                        }
                      }
                    }
                  }

                  p {
                    font-size: 10px;
                    color: #000;
                  }

                  div {
                    font-size: 10px;
                    color: #000;
                  }

                  span {
                    font-size: 10px;
                    color: #000;
                  }
                }
              }
            }
          }
        }
      }

      .pdfPreview {
        height: 100%;
      }
    }

    .right {
      width: 40%;
      flex-shrink: 0;
      margin-top: 50px;

      .splitLineTitle {
        :global {
          label {
            color: #d4d4d4;
          }
        }

        .splitLine {
          height: 1px;
          width: 100%;
          background: #d4d4d4;
          //margin-bottom: 24px;
        }
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    padding-right: 16px;
  }
}
