.personalSetEdit {
  .personalSetContent {
    width: 480px;

    .form {
      :global {
        .ant-col {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }

    .actions {
      display: flex;
      justify-content: center;
    }
  }
}
