.systemInfo {
  display: flex;
  height: 580px;

  :global {
    .ant-card {
      height: 100%;

      .ant-card-cover {
        height: 258px;
      }

      .ant-card-body {
        .ant-card-meta {
          .ant-card-meta-detail {
            .ant-card-meta-title {
              display: inline-block;
              height: 18px;
            }

            .ant-card-meta-description {
              height: 100%;
            }
          }
        }
      }
    }
  }
}
