.userGuide {
  display: flex;
  height: 580px;

  .descriptionInfo {
    display: flex;
    flex-direction: column;

    .title {
      display: inline-block;
      margin-bottom: 8px;
    }

    .content {
      display: flex;
      flex-direction: column;
    }
  }

  :global {
    .ant-card {
      height: 100%;

      .ant-card-cover {
        height: 258px;
      }

      .ant-card-body {
        height: calc(100% - 258px);

        .ant-card-meta {
          height: 100%;

          .ant-card-meta-detail {
            height: 100%;
            overflow-y: scroll;

            .ant-card-meta-title {
              display: inline-block;
              height: 18px;
            }

            .ant-card-meta-description {
              height: 100%;
            }
          }
        }
      }
    }
  }
}
