.basicInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 89px;
  border-bottom: 1px dashed #c4c4c4;

  .title {
    font-size: 20px;
    font-weight: bold;
    color: #33a596;
  }

  .infoContent {
    font-size: 16px;
    font-weight: 400;
    color: #2f2f2f;
    margin-left: 46px;
    display: flex;

    .text {
      margin-right: 28px;
    }
  }
}
