.arrowText {
  color: #5f97eb;
  cursor: pointer;

  &:hover {
    color: #2f6de4;
  }

  &:active {
    color: #2f6de4;
  }

  .singleArrow {
    margin-left: 6px;
  }

  .doubleArrow {
    margin-left: 6px;
  }
}
