.liveEcg {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 0 40px 40px;
  height: 100vh;
  background: #0e2432
    radial-gradient(
      circle at center,
      rgba(255, 255, 255, 50%) 0%,
      rgba(255, 255, 255, 0%) 50%
    );
  overflow-y: auto;

  .title {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 32px;
    font-weight: bold;
    color: #089f83;
    flex-shrink: 0;
  }

  .contentContainer {
    display: flex;
    flex: 1;
    height: (100% - 100px);

    .main {
      display: flex;
      flex-direction: column;
      flex: 1;
      //height: calc(100vh - 295px);
      //padding-bottom: 60px;
      padding: 0 16px;
      //overflow: hidden;

      .content {
        display: flex;
        background-color: #2f4757;
        border-radius: 6px;
        margin-top: 14px;
        padding: 20px;
        flex-direction: column;
        height: calc(100% - 60px);
        overflow-y: auto;
        position: relative;

        .actions {
          padding-bottom: 20px;
          border-bottom: 1px solid #456254;
          margin-bottom: 20px;

          :global {
            .ant-tag {
              height: 38px;
              line-height: 36px;
              padding: 0 18px;
              background-color: #4c5f6c;
              color: #fff;
            }

            .ant-tag-checkable-checked {
              background-color: #089f83;
            }
          }
        }

        .ecgContainer {
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
          position: relative;
          padding-bottom: 40px;

          .item {
            display: flex;
            //margin-right: 10px;
            margin-bottom: 20px;
            //flex: 1;
          }
        }

        .footer {
          display: flex;
          justify-content: center;
          position: fixed;
          //height: 120px;
          width: calc((100% - 350px) / 2);
          bottom: 40px;
          left: calc(((100% - 350px) / 2) / 2 + 294px);
          align-items: center;
          z-index: 1;
          height: 60px;
          background-color: #0e2432;
          border: 1px solid #656d74;
          border-radius: 16px;

          :global {
            .ant-pagination {
              //font-size: 20px;
              color: #fff;
              display: flex;

              .ant-pagination-prev {
                button {
                  color: #2589b4;

                  .anticon {
                    font-size: 18px;
                  }
                }
              }

              .ant-pagination-jump-prev-custom-icon {
                .ant-pagination-item-ellipsis {
                  color: #fff;
                }
              }

              .ant-pagination-jump-next-custom-icon {
                .ant-pagination-item-ellipsis {
                  color: #fff;
                }
              }

              .ant-pagination-item {
                font-size: 20px;

                a {
                  color: #2589b4;
                }
              }

              .ant-pagination-item-active {
                border-color: #2589b4;
              }

              .ant-pagination-next {
                button {
                  font-size: 18px;
                  color: #2589b4;

                  .anticon {
                    font-size: 18px;
                  }
                }
              }

              .ant-pagination-options {
                display: flex;
                align-items: center;
                justify-content: center;

                .ant-pagination-options-size-changer {
                  line-height: 0;
                  //height: 0;

                  .ant-select-selector {
                    font-size: 18px;
                    color: #2589b4;
                  }
                }

                .ant-pagination-options-quick-jumper {
                  font-size: 18px;
                  line-height: 0;
                  color: #2589b4;

                  //height: 32px;
                }
              }
            }
          }
        }

        .hideSidebarFooter {
          //left: calc(((100% - 350px) / 2) / 2 + 38px) !important;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
