.messageInfo {
  position: fixed;
  bottom: 100px;
  right: 60px;
  z-index: 100;
  width: 280px;
  height: 280px;
  border: 1px solid #ff0000;
  background-color: #2f4757;
  border-radius: 6px;

  .header {
    color: #ff0000;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    height: 40px;
    align-items: center;
  }

  .content {
    padding: 0 20px;
    height: calc(100% - 40px);
    overflow-y: auto;

    .item {
      color: #ffffff;
      display: flex;
      cursor: pointer;
      margin-bottom: 10px;

      .itemContent {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
