@import 'assets/font/iconfont.css';
@import 'react-quill/dist/quill.snow.css';
@import 'antd/dist/reset.css';
@import 'normalize.css';

/* 全局字体基础样式 */
//html,
//body,
//#root,
//.main {
//  font-size: 14px; /* antd 默认基准 */
//  line-height: 1.15; /* umi 默认行高 */
//  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
//    'Helvetica Neue', Arial, sans-serif;
//}

.gMainButton {
  background-color: #33a596 !important;
  color: #fff;
}

.gGeneralTextButton {
  color: #33a596;
  padding-left: 8px;
  padding-right: 8px;
}

.gDeleteTextButton {
  color: #ff4d4f;
  padding-left: 8px;
  padding-right: 8px;
}

.gDrawerFooter {
  display: flex;
  justify-content: flex-end;
}

.gScrollbar {
  margin: 0;
}
