.ant-pro {
  .ant-pro-layout {
    .ant-layout {
      .ant-pro-layout-container {
        .ant-pro-layout-content {
          padding-block: 0;
          padding-inline: 0;
        }
      }
    }
  }
}

.ant-row {
  margin: 0 !important;
}

.ant-table-wrapper {
  width: 100%;
}

.ant-menu {
  .ant-menu-item-selected {
    color: #fff;
  }

  .ant-menu-submenu-open,
  .ant-menu-submenu-selected {
    .ant-menu-submenu-title {
      color: #33a596 !important;
    }
  }
}
