.newButton {
  background-color: #33a596 !important;
  color: #ffffff;
}

.generalButton {
  background-color: #33a596 !important;
  color: #ffffff;
}

.generalTextButton {
  color: #33a596;
  padding: 0;
}

.deleteButton {
  color: #ff4d4f;
  padding: 0;
}

.detailButton {
}
