.miniProgramUserHistory {
  :global {
    .ant-drawer-body {
      background: #f5f5f5;
      padding-top: 0;
    }
  }

  .heartRate {
    width: 100%;
  }

  .content {
    background-color: #ffffff;
    padding: 0 24px;

    .canvas {
      padding-top: 24px;
    }

    .tableMain {
      .actions {
        padding-top: 20px;
        border-top: 1px solid #456254;
        padding-bottom: 20px;

        :global {
          .ant-tag {
            height: 38px;
            line-height: 36px;
            padding: 0 18px;
            background-color: #4c5f6c;
            color: #ffffff;
          }

          .ant-tag-checkable-checked {
            background-color: #089f83;
          }
        }
      }

      .ecg {
        display: flex;
        overflow-x: scroll;
        line-height: 1.15;
        height: 165px;
      }
    }
  }

  .eventStr {
    padding: 2px 5px;
    background-color: #ff0000;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
    color: #ffffff;
    text-align: center;
  }
}
