.user {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

  .main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    .actions {
      display: flex;
      margin-bottom: 16px;
    }

    .content {
      display: flex;
    }
  }
}
